{% extends "layout.html.jinja" %}

{% block middle %}
    <h2> This is main file </h2>
    
<main role="main" class="container">
  <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h2 class="display-4 font-italic">Programming project description</h2>
          <p class="lead my-5">The purpose of the application is to extract opinions about products from the Ceneo.pl
website. For product, the code of which will be given as a parameter, its name and all
available opinions about it should be extracted.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 blog-main">
          
          <div class="blog-post">
            <h2 class="blog-post-title">How application should work</h2>
            <p class="blog-post-meta">The subject of the project implemented during classes is a web application for extracting
product reviews from the Ceneo.pl website based on their individual codes and for
displaying the downloaded opinions and basic statistics about them.
The application will be implemented in stages, starting from a single file up to an advanced
structure of files and directories based on the selected framework and best practices in
software development. The application will initially be typically structured, but over time
the code will be refactored into procedural form, and eventually an object-oriented
approach will be applied. In the first stages of work, all parameters will be written in the
code in the form of literals, and then a simple text interface will be used that allows user
to enter values, which will later be the basis for the development of the web interface of
the application.</p>
            <hr>
            <p>
            <h3>For each review extracted elements are:</h3>
            <ul>
              <li>opinion ID</li>
              <li>opinion’s author</li>
              <li>author’s recommendation</li>
              <li>score expressed in number of stars</li>
              <li>opinion’s content</li>
              <li>list of product advantages</li>
              <li>list of product disadvantages</li>
              <li>how many users think that opinion was helpful</li>
              <li>how many users think that opinion was unhelpful</li>
              <li>publishing date</li>
              <li>purchase date</li>
            </ul>
            </p>
            
            <p>If any value is missing, the field should be left blank.</p>
            <h3>In addition, the application should allow to display:</h3>
            <p>
            <ul>
              <li>extracted opinions with all its components</li>
              <li>statistics about extracted reviews</li>
              <li>charts showing these statistics</li>
            </ul></p>
          </div><!-- /.blog-post -->

          <div class="blog-post">
            <h2 class="blog-post-title">Stages of work on the project:</h2>

            <h4>Structural application</h4>
            <p>
            <ul>
              <li>Stage 1. Extraction of single opinion about product, the code of which will be entered
in the program code.</li>
              <li>Stage 2. Extraction of all opinions about product from a single page.</li>
              <li>Stage 3. Extraction of all opinions about product from a all pages</li>
            </ul></p>
            <h4>Procedural application</h4>
            <p>
            <ul>
              <li>Stage 4. Refactoring and code parameterization. Text user interface.</li>
              <li>Stage 5. Save downloaded data to .json and/or .csv files.</li>
              <li>Stage 6. Statistical analysis of the extracted opinions.</li>
              <li>Stage 7. Preparation of charts based on statistics.</li>
            </ul></p>
            <h4>Object-oriented application</h4>
            <p>
            <ul>
              <li>Stage 8. Using Flask micro framework.</li>
              <li>Stage 9. Object data model (Product, Opinion).</li>
              <li>Stage 10. Routes and views.</li>
            </ul></p>
            
          </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">
          <div class="p-3 mb-2 bg-secondary text-white">
            <h4 class="font-italic">About</h4>
            <p class="mb-0">The idea of the project was created by mgr Katarzyna Wójcik and implemented in programing language Python together with the group Applied Informatics in Visul Studio Code.</p>
          </div>

          <div class="p-3 mb-2 bg-light text-dark">
            <h4 class="font-italic">Documentation and online resources</h4>
            <ol class="list-unstyled mb-0">
              <li><a href="https://docs.python.org/3/">Python documentation</a></li>
              <li><a href="http://git-scm.com/doc">Git documentation</a></li>
              <li><a href="http://getbootstrap.com/">Bootstrap documentation</a></li>
              <li><a href="https://daringfireball.net/projects/markdown/">Markdown documentation</a></li>
              <li><a href="http://stackoverflow.com/">Stack overflow</a></li>
              <li><a href="https://www.crummy.com/software/BeautifulSoup/bs4/doc/">BeautifulSoup library</a></li>
              <li><a href="https://requests.readthedocs.io/en/master/">Requests library</a></li>
              <li><a href="https://pandas.pydata.org/">Pandas library</a></li>
              <li><a href="https://matplotlib.org/">Matplotlib library</a></li>
              <li><a href="https://plot.ly/">Plotly library</a></li>
              <li><a href="https://jinja.palletsprojects.com/en/2.11.x/">Jinja templating language</a></li>
              <li><a href="https://flask.palletsprojects.com/en/1.1.x/">Flask micro framework</a></li>
            </ol>
          </div>

          <div class="p-3">
            <h4 class="font-italic">Remote repository by A.Veres</h4>
            <ol class="list-unstyled">
              <li><a href="https://github.com/AVeres321/CeneoScraperAI-1">CeneoScraperAI</a></li>
            </ol>
          </div>
        </aside><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </main><!-- /.container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>

{% endblock middle %}
